__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env
.pytest_cache/
dist/
build/DocAnon/
build/docanon/
*.egg-info/
.mypy_cache/
output/
output_batch/
*.mapenc
.DS_Store
*.zip
DocAnon/
.idea/
.vscode/
